html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ff7413;
    font-weight: 500;
    background-color: #fff;
}

.dice {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    overflow: hidden;
}

.dice img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .dice {
        left: 50%;
        max-width: 460px;
        max-height: 768px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .dice img {
        -o-object-fit: inherit;
        object-fit: inherit;
    }
}